html, body, h1, form, fieldset, legend, ol, li {
    margin: 0;
    padding: 0;
}

body {
    background: #9cbc2c;
    color: #111111;
    font-family: Georgia, "Times New Roman", Times, serif;
    padding: 20px;
    display: flex;
    flex-direction: column;
    min-height: 98vh;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.amount {
    display: inline;
    width: 655px;
    margin: auto;
}

div.main {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -0%);
    padding: 10px;
}


form {
    background: #b9cf6a;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 20px;
    width: 400px;
}

form fieldset {
    margin-bottom: 10px;
}

form fieldset:last-of-type {
    margin-bottom: 0;
}

form legend {
    color: #384313;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 10px;
    text-shadow: 0 1px 1px #c0d576;
}

form fieldset fieldset legend {
    color: #111111;
    font-size: 13px;
    font-weight: normal;
    padding-bottom: 0;
}

form ol li {
    background: #b9cf6a;
    background: rgba(255, 255, 255, .3);
    border-color: #e3ebc3;
    border-color: rgba(255, 255, 255, .6);
    border-style: solid;
    border-width: 2px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    line-height: 30px;
    list-style: none;
    padding: 5px 10px;
    margin-bottom: 2px;
}


form label {
    float: left;
    font-size: 13px;
    width: 110px;
}

form fieldset fieldset label {
    background: none no-repeat left 50%;
    line-height: 20px;
    padding: 0 0 0 30px;
    width: auto;
}

form fieldset fieldset label:hover {
    cursor: pointer;
}

form button {
    background: #384313;
    border-radius: 20px;
    color: #ffffff;
    font: 18px Georgia, "Times New Roman", Times, serif;
    letter-spacing: 1px;
    text-shadow: 0 1px 1px #000000;
    text-transform: uppercase;
}


form button:hover {
    background: #1e2506;
    cursor: pointer;
}

from input[type=button] {
    background: #384313;
    border-radius: 20px;
    color: #ffffff;
    font: 18px Georgia, "Times New Roman", Times, serif;
    letter-spacing: 1px;
    text-shadow: 0 1px 1px #000000;
    text-transform: uppercase;
}

footer{
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
}